anyio==4.12.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
blinker==1.9.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
build==1.4.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
cachecontrol==0.14.4 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
certifi==2026.1.4 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
cffi==2.0.0 ; python_version >= "3.12" and platform_python_implementation != "PyPy" and (sys_platform != "win32" and sys_platform != "emscripten") and python_version < "4.0" or python_version >= "3.12" and python_version < "3.14" and platform_python_implementation != "PyPy" and (sys_platform == "win32" or sys_platform == "emscripten" or sys_platform == "darwin") or python_version >= "3.12" and python_version < "4.0" and platform_python_implementation != "PyPy" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and sys_platform == "darwin" and python_version < "4.0"
charset-normalizer==3.4.4 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
cleo==2.1.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
click==8.3.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") and platform_system == "Windows" or python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") and os_name == "nt" or python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32" or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten") and platform_system == "Windows" or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten") and os_name == "nt"
coverage==7.13.4 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
crashtest==0.4.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
cryptography==46.0.4 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
dash-core-components==2.0.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
dash-html-components==2.0.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
dash-renderer==1.9.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
dash==4.0.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
distlib==0.4.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
dulwich==1.0.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
fastjsonschema==2.21.2 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
filelock==3.20.3 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
findpython==0.7.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
flake8==7.3.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
flask-assets==2.1.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
flask-sqlalchemy==3.1.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
flask==3.1.2 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
greenlet==3.3.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten") and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
gunicorn==25.0.3 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
h11==0.16.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
httpcore==1.0.9 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
httpx==0.28.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
idna==3.11 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
importlib-metadata==8.7.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
installer==0.7.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
itsdangerous==2.2.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
jaraco-classes==3.4.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
jaraco-context==6.1.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
jaraco-functools==4.4.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
jeepney==0.9.0 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "linux"
jinja2==3.1.6 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
keyring==25.7.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
loguru==0.7.3 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
markupsafe==3.0.3 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
mccabe==0.7.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
more-itertools==10.8.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
msgpack==1.1.2 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
narwhals==2.16.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
nest-asyncio==1.6.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
numpy==2.4.2 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
packaging==26.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pandas==3.0.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pbs-installer==2026.2.3 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pkginfo==1.12.1.2 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
platformdirs==4.5.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
plotly==6.5.2 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
poetry-core==2.3.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
poetry==2.3.2 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pycodestyle==2.14.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pycparser==3.0 ; python_version >= "3.12" and implementation_name != "PyPy" and platform_python_implementation != "PyPy" and (sys_platform != "win32" and sys_platform != "emscripten") and python_version < "4.0" or python_version >= "3.12" and python_version < "3.14" and implementation_name != "PyPy" and platform_python_implementation != "PyPy" and (sys_platform == "win32" or sys_platform == "emscripten" or sys_platform == "darwin") or python_version >= "3.12" and python_version < "4.0" and implementation_name != "PyPy" and platform_python_implementation != "PyPy" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and implementation_name != "PyPy" and sys_platform == "darwin" and python_version < "4.0"
pyflakes==3.4.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pymysql==1.1.2 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pyproject-hooks==1.2.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
python-dotenv==1.2.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pywin32-ctypes==0.2.3 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
pyyaml==6.0.3 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
rapidfuzz==3.14.3 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
redis==7.1.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
requests-toolbelt==1.0.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
requests==2.32.5 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
retrying==1.4.2 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
secretstorage==3.5.0 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "linux"
setuptools==82.0.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
shellingham==1.5.4 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
six==1.17.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
sqlalchemy==2.0.46 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
tomlkit==0.14.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
trove-classifiers==2026.1.14.14 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
typing-extensions==4.15.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
tzdata==2025.3 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten")
urllib3==2.6.3 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
virtualenv==20.36.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
webassets==3.0.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
werkzeug==3.1.5 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
win32-setctime==1.2.0 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
wtforms==3.2.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
xattr==1.3.0 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "darwin"
zipp==3.23.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
zope-dottedname==7.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
zstandard==0.25.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
